# Derlenmiş İkilikler / Binary & Executables
*.exe
*.o
*.obj
*.dll
*.lib
*.a

# Başlatıcılar ve Geçici Betikler
*.bat
*.cmd
*.ps1

# IDE & Editor Dosyaları
.vscode/
.idea/
*.user

# Geçici / Çıktı Klasörleri
bin/
build/
obj/
raylib_setup/
