# Derlenmis Ciktilar / Binary & Executables
*.exe
*.o
*.obj
*.dll
*.user

# Vendor icindeki kutuphanelerin (.a) git tarafindan takip edilmesine izin ver
!vendor/**/*.a

# Baslaticilar ve Gecici Betikler
*.bat
*.cmd
*.ps1

# IDE & Editor Dosyalari
.vscode/
.idea/

# Gecici / Cikti Klasorleri
bin/
build/
obj/
raylib_setup/
